.carrossel {
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-family: "Roboto", sans-serif;
  transition: 0.25s;

  @include d(d) {
    display: flex;
  }
  @include d(g) {
    display: flex;
  }
  .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;

    color: inherit;
  }
  .options.pessoais,
  .options.cursos {
    display: none;
    &.ativo {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      overflow: hidden;

      min-width: 600px;
      max-width: 1000px;
      width: calc(100% - 100px);
      animation: show-left 0.5s forwards ease-in-out;

      height: 400px;
      @for $i from 1 through 4 {
        @media screen and (max-width: 798px - $i*80) {
          min-width: 600px - $i * 80;
          .option:nth-child(#{6-$i}) {
            display: none;
          }
        }
      }

      .option {
        position: relative;
        overflow: hidden;

        min-width: 60px;
        margin: 10px;
        background-image: var(
          --optionBackground,
          var(--defaultBackground, #e6e9ed)
        );
        background-size: auto 120%;
        background-position: center;
        border: 2px solid rgb(237, 218, 13);
        cursor: pointer;
        position: relative;

        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

        &.active {
          flex-grow: 10000;
          transform: scale(1);

          max-width: 600px;
          margin: 0px;
          border-radius: 40px;

          background-size: auto 100%;
          .shadow {
            box-shadow: inset 0 -120px 120px -120px black,
              inset 0 -120px 120px -100px black;
          }
          .label {
            bottom: 20px;
            left: 20px;
            .info > div {
              left: 0px;
              opacity: 1;
            }
          }
        }
        &:not(.active) {
          flex-grow: 1;

          border-radius: 30px;
          .shadow {
            bottom: -40px;
            box-shadow: inset 0 -120px 0px -120px black,
              inset 0 -120px 0px -100px black;
          }
          .label {
            bottom: 10px;
            left: 10px;
            .info > div {
              left: 20px;
              opacity: 0;
            }
          }
        }
        .shadow {
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;

          height: 120px;

          transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        }
        .label {
          display: flex;
          position: absolute;
          right: 0px;

          height: 40px;
          transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
          .icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            min-width: 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 100%;

            background-color: white;
            color: var(--defaultBackground);
            img {
              max-width: 40px;
              border-radius: 50%;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-left: 10px;

            color: white;

            white-space: pre;
            > div {
              position: relative;

              transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
                opacity 0.5s ease-out;
            }
            .main {
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.carrossel-infos {
  display: none;
}
.option:hover .carrossel-infos {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  position: absolute;
  top: 0;
  height: 100%;
  line-height: 1.5;
  h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
