.footer {
  background: url(../img/fundos/fundo-dia.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0px;
  &.noite {
    background: url(../img/fundos/fundo-noite.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.direitos {
  font-size: 1rem;
}
