* {
  box-sizing: border-box;
}

body,
html {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Chivo Mono", monospace;
  display: grid;
}

.container {
  border-radius: 15px;
  max-width: 330px;
  z-index: 2;
  @include d(g) {
    background-color: transparent;
    border: none;
    box-shadow: none;
    max-width: 1201px;
  }
  @include d(d) {
    max-width: 1025px;
  }
  @include d(n) {
    max-width: 769px;
  }
  @include d(t) {
    max-width: 481px;
  }
}

.titulo {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
  width: 100%;
  color: white;

  @include d(g) {
    color: white;
    font-size: 4rem;
  }
}

.botao {
  width: 100px;
  background-color: rgb(237, 218, 13);
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  color: black;
  &:hover {
    filter: opacity(0.5);
  }
}

[data-scroll] {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 0.6s;
}
[data-scroll].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#inicio {
  position: absolute;
  top: -160px;
}

#sobre {
  position: absolute;
  top: -160px;
}

#projetos {
  position: absolute;
  top: -160px;
}

#skills {
  position: absolute;
  top: -160px;
}

#contato {
  position: absolute;
  top: -160px;
}
