.inicio {
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.perfil {
  position: relative;
  z-index: 1;
  max-width: 300px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 60px;
  margin-bottom: 20px;
  @include d(g) {
    max-width: 400px;
  }
}
.texto {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 10px;
  @include d(g) {
    font-size: 3rem;
  }
}
.texto-animado {
  font-size: 1.4rem;
  color: rgb(237, 218, 13);
  font-weight: bold;
  animation: pulsando 1500ms infinite ease-in-out;

  &:after {
    content: "|";
    margin-left: 2px;
    opacity: 1;
    animation: pisca 0.7s infinite;
  }
}

@keyframes pulsando {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
