@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&family=Barlow:wght@400;700&display=swap");

:root {
  --font-barlow: "Barlow", sans-serif;
  --font-barlowCondensed: "Barlow Condensed", sans-serif;

  --time-nav-hover: 0.25s;

  --color-fire: rgb(237, 218, 13);
  --color-black: #191919;
  --color-grey-5: #fbfbfb;
  --color-grey-10: #f6f7f7;
  --color-grey-cool-10: #eeeeef;
  --color-grey-15: #e8e8e8;
  --color-grey-20: #d5d6d8;
  --color-grey-60: #abadb1;
  --color-grey-70: #888891;
  --color-grey-80: #6b6a6a;
  --color-grey-85: #59595f;

  --shadow-fire: 0 4px 12px 4px rgba(26, 6, 6, 0.2),
    0 1px 3px 0 rgba(4, 1, 1, 0.4);

  --focus-style: dotted 2px var(--color-black);
  --focus-offset: 2px;
}

#inputContainer {
  margin: 0 auto;
  max-width: 50em;

  display: flex;
  flex-flow: column;
  justify-content: center;
  color: black;
}

.inputGroup {
  display: block;
  margin: 0 0 1.5em;
}
legend {
  color: white;
  cursor: auto;
}
.label {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  font-family: var(--font-barlowCondensed);
  line-height: 1.25em;
  margin: 0 0 0.6em;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.segmentedControl {
  --options: 3;
  --options-active: 1;
  --options-gap: 0.5em;

  background: var(--color-grey-10);
  border: solid 1px var(--color-grey-70);
  // border-radius: 0.25em;
  border-radius: 15px;
  position: relative;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  .segmentedControl--group {
    flex: 0 0 auto;
    margin: var(--options-gap);
    width: calc(
      (100% - ((var(--options) * var(--options-gap)) * 2)) / var(--options)
    );

    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: stretch;
    input {
      opacity: 0;
      position: absolute;
    }
    input + label {
      border-radius: 0.25em;
      flex: 1 1 100%;
      font-size: 1.25em;
      font-weight: normal;
      font-family: var(--font-barlow);
      line-height: 1;
      margin: 0;
      padding: 0.5em 0;
      position: relative;
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      z-index: 1;
      &::before,
      &::after {
        border-radius: 15px;
        content: "";
        display: block;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
      }
      &::before {
        background: var(--color-grey-20);
        transition: opacity 0.15s ease;
      }
      &::after {
        background: var(--color-fire);
        box-shadow: var(--shadow-fire);
        transition: opacity 0.15s ease;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    input:focus + label {
      outline: none;
    }
    input:focus-visible + label {
      outline: var(--focus-style);
      outline-offset: var(--focus-offset);
    }
    input:-moz-focusring + label {
      outline: var(--focus-style);
      outline-offset: var(--focus-offset);
    }
    input:checked + label {
      background: var(--color-grey-10);
      color: rgb(0, 0, 0);
      font-weight: 700;
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .segmentedControl {
    .segmentedControl--group {
      input + label {
        transition: color 0.2s ease;
        &::before {
          transition: opacity 0.3s ease;
        }
        &::after {
          transform: scale(0.85, 0.5);
          transition: opacity 0.15s ease,
            transform 0.3s cubic-bezier(0, 0.99, 0.52, 1.29);
        }
      }
    }
    &.useSlidingAnimation {
      &::before {
        background: var(--color-fire);
        // border-radius: 0.375em;
        border-radius: 15px;
        box-shadow: var(--shadow-fire);
        content: "";
        display: block;
        height: calc(100% - (var(--options-gap) * 2));
        position: absolute;
        top: var(--options-gap);
        left: var(--options-gap);
        transform: translateX(
          calc((100% + (var(--options-gap) * 2)) * (var(--options-active) - 1))
        );
        transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
        width: calc(
          (100% - ((var(--options) * var(--options-gap)) * 2)) / var(--options)
        );
      }
      .segmentedControl--group {
        input + label {
          background: none;
          transition: color 0.3s ease;
          &::after {
            content: none;
          }
        }
        input:checked + label {
          &:hover {
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

/* utilities */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none !important;
}

.offscreen {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
