.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  @include d(g) {
    gap: 200px;
  }
}
.sobre-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  @include d(g) {
    width: 600px;
  }
}

.sobre_texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  line-height: 1.3;
  color: white;

  @include d(g) {
    font-size: 1.5rem;
    color: white;
  }
}

.imagem-sobre {
  display: none;
  @include d(g) {
    display: block;
  }
  @include d(d) {
    display: block;
  }
  img {
    max-width: 500px;
    animation: rodando 5s infinite linear;
  }
}

@keyframes rodando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
